In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st1
import sklearn
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [10]:
df = pd.read_csv ('C:\Chinni\ExcelR\Data_Science\Assignments\Linear_regression\Salary_Data.csv',encoding='windows-1252')
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [48]:
#X=(np.array(df['YearsExperience'])).reshape(-1, 1) 
#Y=(np.array(df['Salary'])).reshape(-1, 1) 

X=df[['YearsExperience']]
Y=df['Salary']

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [49]:
lim = LinearRegression()
lim.fit(X,Y)
print(lim.coef_)

[9449.96232146]

In [66]:
X_test = 2
df1 = pd. DataFrame({'YearsExperience': X_test}, index=[0])
print(df1)

   YearsExperience
0                2

In [67]:
y_pred = lim.predict(df1)
y_pred

array([44692.12484158])

In [ ]:
import joblib